.mainCont {
    width: 100%;
    /* background-color: #333; */
    min-height: 150vh;
    padding: 1em;
    margin: 1em 0;
}

.controlsCont {
    background-color: #333;
    padding: 1em;
    margin: 1em 0;
    border-radius: 0.2rem;
}

.inputCont {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1.5em;
}

.inputField, .inputSelect {
    min-width: 30vw;
    background-color: #555;
    border-radius: 0.5rem 0.5rem 0 0;
}

.paginationCont {
    width: 100%;
    display: flex;
    justify-content: center;
}