.App {
    text-align: center;
}

.pageHeader {
    min-height: 10vh;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.57) 100%);

    display: flex;
    align-items: center;
}

.pageTitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 1em;

    color: #FFFFFF;
}